/* CSS Document */
*, html, body{margin:0; padding:0; list-style: none; outline: none; text-decoration: none; box-sizing: border-box; border: none}

.fon{width: 100%; height: 100vh; padding: 30px; background: url("../images/background.png") no-repeat;
    background-size: cover; background-position: center;}
/*блок авторизации*/
.ContainerAuthoriz{width: 420px; height: auto;  background: #262730; position: absolute;
    top:50%; left: 50%; margin-top: -190px; margin-left: -210px; padding: 0 20px;}
/*.Auth{display: none}*/
.Resend{display: none;}
.Register{display: none; margin-top: -290px;}


.ContainerAuthoriz h2, .container_form h2{font-family: "Open Sans"; font-size: 22px; color: #fff; line-height: 100px; font-weight: lighter;}
.ContainerAuthoriz .formLine{width: 100%; height: 45px; background: #3a3a46; padding: 15px; display: flex; justify-content: space-between;
    margin-bottom: 20px; border-radius: 5px;}
.ContainerAuthoriz .formLine input{font-family: "Open Sans"; font-size: 18px; color: #fff; line-height: 30px; font-weight: lighter;
    background: transparent}
.ContainerAuthoriz .formLine .icon{width: 15px; height: 15px; background-size: contain;}
.log{background: url("../images/user.png") no-repeat }
.reg{background: url("../images/decrypted.png") no-repeat }
.ContainerAuthoriz .lineBtn{display: flex; justify-content: space-between; padding: 35px 0;}
.ContainerAuthoriz .lineBtn div{width: 165px; height: 50px; border-radius: 5px; color: #fff; text-align: center; font-size: 18px;
    font-family: "Open Sans"; font-weight: bold; line-height: 50px; cursor: pointer;}
#log, #reg, #logR{ width: 100%;
    color: #fff;
    background: transparent;
    font-size: 18px; font-weight: bold; text-align: center}
.ContainerAuthoriz .lineBtn .btnLog{background: #ff5757;}
.ContainerAuthoriz .lineBtn .btnReg, .btnBack{background: #7979e2;}
.btnReg a, .btnLog a, .btnBack a{color: #fff;}


/*containerMenu*/
.mainContainer{width: 80%; height: auto; min-height: 450px; max-height: 520px; background: #262730; display: flex }

.containerMenu{width: 35%; height: auto; min-height: 450px; border-right: 1px solid #000; padding-bottom: 30px;}
.contUser{width: 100%; height: auto; padding: 30px;}
.userImg{width: 150px; height: 150px; border-radius: 50%; border:3px solid #fff; margin:  0px auto 15px;
    background: url("../images/usericon.png"); background-size: cover; background-position: center; background-repeat: no-repeat;}

.userName{font-family: "Open Sans"; font-size: 20px; color:#fff; text-align: center; margin-bottom: 15px;}
.btnSetting{width: 70%; height: 45px; line-height: 45px; background: #ff5757; border-radius: 5px; text-align: center; color:#fff;
    font-size: 18px; margin:0 auto 15px; cursor: pointer;}


.line_menu{width: 100%; height: 50px;background: #3a3a46; border-bottom: 1px solid #2f3d4b; padding: 0 0 0 50px;
    margin-bottom: 5px; cursor: pointer;}
.line_menu a{display: block; width: 100%}
.line_menu p, .line_menu a{width: 100%; line-height: 50px; font-size: 20px; font-family: "Open Sans"; font-weight: bold; color:#fff;}
.line_menu:nth-child(2n){}
.line_menu.active{background: #7979e2;}
.line_menu:hover{background: #7979e2;}

.containerContent{width: 75%; height: auto; min-height: 450px;  padding: 30px 20px}
.listContent{width: 100%; height: 100%; padding-top: 10px; background: url("../images/cat_sleep.png") no-repeat;
    background-size: 50% ; background-position: center; }





/*блок новой консультации*/
#addNewConsult{width: 100%;height: 100%; display: none}
.line_nameConsult{width: 100%; height: auto; display: flex; justify-content: start; margin-bottom: 10px; border-bottom: 3px solid #fff;}
.line_nameConsult p{font-family: "Open Sans"; font-weight: bold; font-size: 24px; line-height: 24px; color: #fff;
    background: transparent;  width: 50%}

.btnAdd{ border-radius: 5px; color: #fff; text-align: center; font-size: 15px;
    font-family: "Open Sans"; font-weight: bold; line-height: 30px; cursor: pointer; }
.btnVisitor, .addStudent{width: 115px; height: 30px; background: #7979e2;   margin-left: calc(100% - 115px); margin-bottom: 10px }
.containerVisitors, .wrapConsults{width: 100%; height: auto; min-height: 350px; max-height: 350px; margin-bottom: 10px;overflow-y: scroll; background: #262730; }
.containerVisitors::-webkit-scrollbar { width: 0; }
.wrapConsults::-webkit-scrollbar { width: 0; }
.decoWait{width: 100%; height: 350px;  background-image: url("../images/cat_laptop.png"); background-position: center;
background-size: 50%; background-repeat: no-repeat; display: none}

.lineVisitor, .lineInfo{display: flex; justify-content: space-between; margin-bottom: 10px; background: #3a3a46;padding: 0 10px;}
.lineVisitor p, .lineInfo p{font-family: "Open Sans"; font-size: 18px; font-weight: lighter; color:#fff; line-height: 24px;}
/*.btnDelVisitor{width: 24px; height: 24px; cursor: pointer; background:#ff5757;}*/
#addFormConsult{width: 80px; height: 30px; background: #ff5757;   margin-left: calc(100% - 100px);}


.container_form{height: auto;  background: #262730; position: absolute; padding: 0 20px; border: 2px solid #fff;
    box-shadow: 0px 0px 5px 1px #fff;}
.container_form h2{line-height: 60px;}

.formLine{width: 100%; height: 45px; background: #3a3a46; padding: 10px 15px; display: flex; justify-content: space-between;
margin-bottom: 20px; border-radius: 5px;}
.formLine select{font-family: "Open Sans"; font-size: 18px; color: #fff; line-height: 30px; font-weight: lighter;
    background: transparent}
.container_form .formLine select{width: 100%;}
.container_form .formLine option{color:grey}
.container_form .formLine input{width: 100%; font-family: "Open Sans"; font-size: 18px; color: #fff; line-height: 30px; font-weight: lighter;
    background: transparent}
.container_form .lineBtn{display: flex; justify-content: space-between; padding: 20px 0;}
.container_form .lineBtn div, .container_form .lineBtn input{width: 140px; height: 50px; border-radius: 5px; color: #fff; text-align: center; font-size: 18px;
    font-family: "Open Sans"; font-weight: bold; line-height: 50px; cursor: pointer; text-transform: uppercase}
.container_form .btn{color: #fff; background: transparent; font-size: 18px; font-weight: bold; text-align: center}
#addVis, #addStud, #addGrup{background: #ff5757;}
.btnCans{background: #7979e2;}
.btn.addStudent, .btn.addGrupp{width: 120px; background: #7979e2; border-radius: 5px; margin-left: calc(100% - 120px); margin-bottom: 15px;}

.newVisit{ width: 420px; height: auto; top:50px; left: 50%; margin-left: -210px; display: none }
.newStudent{ width: 420px; height: auto; top:120px; left: 55%; margin-left: -210px; display: none }
.newGrupp{ width: 340px; height: auto; top:300px; left: 65%; margin-left: -210px; display: none}

.newVisit.active, .newStudent.active, .newGrupp.active{display: block}

#resend{color:gray;}
.userImg{background-image: url("../images/usericon.png");}

.containerUserConsults{width: 100%; height: auto;  background: #262730; display: none}
.containerUserConsults h3, .containerConsultInfo h3{font-family: "Open Sans"; font-weight: bold; font-size: 24px; line-height: 24px; color: #fff;
    margin-bottom: 10px; text-align: center; text-transform: uppercase }
.containerUserConsults h3{ border-bottom: 3px solid #fff;}

.wrapConsults{width: 100%; height: auto; min-height: 350px; max-height: 350px; margin-bottom: 10px;overflow-y: scroll; background: #262730; }
.wrapConsults::-webkit-scrollbar { width: 0; }
.lineConsult{display: flex; justify-content: space-between; margin-bottom: 10px; background: #3a3a46;padding: 6px 10px;}
.lineConsult p{font-family: "Open Sans"; font-size: 22px; font-weight: lighter; color:#fff; line-height: 24px;}
.wrapBtn{display: flex; justify-content: space-between;}

.del{width: 24px; height: 24px; cursor: pointer; margin-right: 15px; background: url("../images/x.png") no-repeat;
    background-size: cover; background-position: center;}
.more{width: 24px; height: 24px; cursor: pointer; background: url("../images/arrow-18.png") no-repeat;
    background-size: cover; background-position: center;}

.containerConsultInfo{display: none}
.lineConsult:hover{box-shadow: 0 2px 5px 0 #fff;}
.lineConsult:hover p{font-weight: bold}
.lineConsult:hover .del{ background: url("../images/xRed.png") no-repeat;background-size: cover; background-position: center;}
.lineVisitor:hover .del{ background: url("../images/xRed.png") no-repeat;background-size: cover; background-position: center;}
.lineInfo p{width: 50%}
.containerConsultInfo .btnAdd{width: 60px; height: auto; background:#ff5757; margin-left: calc(100% - 100px)  }



.shadow{width: 100%; height: 100vh; background: rgba(124, 116, 129, 0); position: fixed; z-index: 50;
    top: 0; left: 0; display: none}

